
/* styles.css */
@keyframes verticalScroll {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }
  
  .scroll-vertical {
    animation: verticalScroll 10s linear infinite;
    -webkit-animation: verticalScroll 10s linear infinite;
}
  